<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      
      .ty-banner{
        display: grid;
        background-color: rgb(250, 215, 169);
        place-items: center;
        place-content: center;
        margin: 3rem auto;
        width: max-content;
        height:max-content;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.295);
      }
      .ty-container{
        background-color: rgba(255, 255, 255, 0.407);
        display: grid;
        place-content: center;
        place-items: center;
        margin: 1rem;
        height: max-content;
        width: max-content;
      }
      .btn2 {
        display: inline-block;
        padding: 10px 15px;
        margin-bottom: 1rem;
        background-color: #8019c8;
        color: #ffffff;
        border-radius: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
      }
      .btn2:hover {
        background-color: #541184;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
